.row {
    display: flex;
}

.box {
    display: flex;
    background-color: rgb(44, 44, 44);
}

body{
    margin: 0; padding: 0; width: 100vw;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: Arial;
    background-color: rgb(44, 44, 44);
    /* background-color: #eae8e0; */
  }

html {
    margin: 0; padding: 0; width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial;
    /* background-color: #eae8e0;*/
}

.body-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* bottom: 0; */
    
}

.header-container {
    /* border: 1px solid white; */
    /* background-color: lightblue; */
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;

}

.header-dummy {
    display: flex;
    width: 80px;
}

.header-title {
    display: flex;
    /* margin-left: 100px; */
    color: white;
    font-size: 40px;
}

.header-buttons {
    display: flex;
    margin-right: 40px;
}

.settings-container {
    /* border: 2px solid yellow; */
    background-color: rgb(73, 73, 73);
    border-radius: 0 0 0 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
}

.settings-reset {
    /* border: 2px solid white; */

    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 200px;
    margin-top: 100px;
}

.settings-answer {
    /* border: 2px solid white; */

    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 200px;
    margin-top: 270px;
}

.answer {
    display: none;
}

.main-container {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    /* position: absolute; */
    width: 500px;
    margin-bottom: 40px;
    /* height: 800px; */
}

.row-container {
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 90%;
    margin: 10px;

}

.box-container {
    display: flex;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    width: 55px;
    height: 55px;
    margin: 5px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}



.box-container1 {
    display: flex;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    width: 55px;
    height: 55px;
    margin: 5px;
}

.reset-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.letter-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    justify-content: center;
    margin-bottom: 100px;
}

.letter-row-1 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.letter-row-2 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.letter-row-3 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.letter-button {
    width: 35px;
    height: 50px;
    background-color: lightgray;
    margin: 4.5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.letter-button-enter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: lightgray;
    margin: 4.5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.letter-button-backspace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: lightgray;
    margin: 4.5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header-title {
        margin: 0px;
        font-size: 30px;
    }
    .header-buttons {
        margin: 0px;
    }
    .header-container {
        height: 80px;
    }

    .main-container {
        margin-top: 70px;
        margin-bottom: 0px;
    }

    .header-dummy {
        width: 50px;
    }
}

@media (max-width: 450px) {
    .box-container {
        width: 40px;
        height: 40px;
    }

    .main-container {
        width: 350px;
    }
    .row-container {
        height: 40px;
    }
    .letter-container {
        width: 375px;
    }
    .letter-button {
        width: 30px;
    }
    .letter-button-enter {
        width: 50px;
        font-size: 12px;
        text-align: start;
    }
    .letter-button-backspace {
        width: 50px;
    }
}

